<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>
</head>

<body>
    <form th:action="@{/addRecord}" method="POST">
        <div>
            <p>Назначение платежа</p>
            <input name="target" type="text" size="40">
            <p>Сумма</p>
            <input name="amount" type="text" size="40">
            <p>Комментарий</p>
            <input name="comment" type="text" size="40">
            <p><input type="submit" value="Отправить">
                <input type="reset" value="Очистить"></p>
        </div>
    </form>
</body>
</html>