<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <form name="test" method="post" action="recordPage.html">
        <div>
            <p>Назначение платежа</p>
            <input type="text" size="40">
            <p>Сумма</p>
            <input type="text" size="40">
            <p>Комментарий</p>
            <input type="text" size="40">
            <p><input type="submit" value="Отправить">
                <input type="reset" value="Очистить"></p>
        </div>
    </form>
</body>
</html>