<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>
    <style>
        table {
            width: 80%;
            border-collapse: collapse;
            margin: auto;
        }
        td {
            border: 2px solid #000;
        }
    </style>
</head>

<body>

    <a href="spendsLastMonth">Траты за прошлый месяц</a>
    <a href="spendsAllTime">Траты за все время</a>

    <p align="center">Здравствуйте, <strong><span th:text="${user} + '!'"></span></strong></p>

    <p align="center">Траты за текущий месяц по категориям</p>

    <div>
        <table>
            <tr th:each="elem : ${spends}">
                <td width="50%">
                    <a th:text="${elem.purpose}"></a>
                </td>
                <td width="25%">
                    <strong><a th:text="${elem.amount}"></a></strong>
                </td>
                <td width="25%">
                    <a th:text="${elem.percent} + ' %'"></a>
                </td>
            </tr>
        </table>
    </div>

    <div>
        <a>Общие траты за текущий месяц: </a>
        <strong><a th:text="${sumThisMonth}"></a></strong><br>
        <a>Общие траты за прошлый месяц: </a>
        <strong><a th:text="${sumLastMonth}"></a></strong><br>
        <a>Предполагаемые траты на конец текущего месяца: </a>
        <strong><a th:text="${plannedSpends}"></a></strong><br>
    </div>

    <p align="center">Траты за текущий месяц</p>

    <div>
        <table>
            <tr th:each="elem : ${records}">
                <td width="20%">
                    <strong><a th:text="${elem.amount}"></a></strong>
                </td>
                <td width="20%">
                    <a th:text="${elem.purpose}"></a>
                </td>
                <td width="10%">
                    <a th:text="${elem.date}"></a>
                </td>
                <td width="40%">
                    <a th:text="${elem.comment}"></a>
                </td>
                <td width="10%">
                    <form th:action="'/records' + '/delete/' + ${elem.id}" method="POST">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <a href="records/addRecord">Добавить запись</a>

    <form action="logout" method="POST">
        <input type="submit" value="Выйти">
    </form>
</body>

</html>