<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>
</head>

<body>
    <form th:action="@{/registration}" method="POST">
        <div>
            <p>Имя</p>
            <input placeholder="Введите имя" type="text" name="name">
            <p>Фамилия</p>
            <input placeholder="Введите фамилию" type="text" name="surname">
            <p>Пароль</p>
            <input placeholder="Придумайте пароль" type="password" name="password">
            <button type="submit">Зарегистрироваться</button>
        </div>
    </form>
</body>
</html>