<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>
    <style>
        #purpose {
            width: 20%;
            border: 2px solid #000;
         }
         #amount {
            width: 20%;
            border: 2px solid #000;
         }
         #comment {
            width: 50%;
            border: 2px solid #000;
         }
         #delete {
            width: 10%;
            border: 2px solid #000;
         }
    </style>
</head>

<body>
    <a>Здравствуйте, <span th:text="${user}"></span></a>

    <div>
        <a th:text="${hasNoSpends}"></a>
    </div>

    <a href="records">Траты за текущий месяц</a>
    <a href="spendsAllTime">Траты за все время</a>

    <a>Траты за прошлый месяц</a>

    <div th:each="elem : ${records}">
        <table width="80%" cellspacing="0" cellpadding="5">
            <tr>
                <td id="amount">
                    <strong><a th:text="${elem.amount}"></a></strong>
                </td>
                <td id="purpose">
                    <a th:text="${elem.purpose}"></a>
                </td>
                <td id="comment">
                    <a th:text="${elem.comment}"></a>
                </td>
                <td id="delete">
                    <form th:action="'/records' + '/delete/' + ${elem.id}" method="POST">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <a>Траты за прошлый месяц по категориям</a>
    <div th:each="elem : ${spends}">
        <p th:text="${elem.purpose}"></p>
        <p th:text="${elem.amount}"></p>
        <p th:text="${elem.percent}"></p>
    </div>

    <form action="logout" method="POST">
        <input type="submit" value="Выйти">
    </form>
</body>

</html>